article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 28px;
    letter-spacing: 0.8px;
}

html {
	overflow: hidden;
	background-color: #000000;
}

// @font-face {
//     font-family: BeeFour;
//     src:url("./resources/BeeThreeT.ttf");
// }
// @font-face {
//     font-family: BeeTwo;
//     src:url("./src/resources/BeeTwoT.ttf");
// }

body {
	--color-text: #fff;
	--color-bg: #424242;
	--color-link: #ffffff; //text color general
	--opacity-link-hover: 0.2;
	--color-bgtitle: #48271b;
	--color-bgsubtitle: #c13535;
	color: #ffffff;
	text-transform: uppercase;
	color: var(--color-text);
	background-color: #000000;
	font-family: BeeTwo, Arial, sans-serif;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//background-image: url('./../images/bg.jpeg');
	background-size: cover;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.mainCanvas {
	display: none;
}

.parallax {
	// left: 47%;
	// top: 40%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.loadingScreen {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 10010;
		cursor:  none;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
}

.loadingScreen video { //transparent load video or gif
	position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
}
#parallaxBuffer {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	//background-color: blue;
	    bottom: 55%;
			width: 6%;
    height: 8%;
}
.endLoading {
	//background-color: blue;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

	bottom: 32%;
	width: 6%;
height: 8%;
z-index: 1010;

}

.loadingScreen img { //skull
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
//
// .loadingScreen img:nth-child(1) {
// 	bottom: 300px;
// }
//
// //skull eyes
// .loadingScreen img:nth-child(2) {
// 	bottom: 340px;
// 	width: 30px;
// }
// .loadingScreen img:nth-child(3) { //circle slash
// 	bottom: 340px;
// 	right: 400px;
// 	width: 30px;
// }

.topmenu
{
	position: absolute;
	top: 30px;

	//This absolute centers horz
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
		z-index: 10006;
}

.topmenu img:nth-of-type(1):not(.audiogif) {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 65px;
    margin-bottom: 3px;
		margin-left: 47%;
}
// .topmenu img:nth-of-type(1):not(.audiogif):hover {
// 	opacity: var(--opacity-link-hover);
// }

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	//color: var(--color-link-hover);
	text-decoration: none;
	//opacity: var(--opacity-link-hover);
	outline: none;
}

.audioBtn:hover{
	opacity: var(--opacity-link-hover);

}

.audiogif {
	width: 16px;
	margin-left: 1px;
	height: 18px;
}
.middleMenu {
	position: absolute;
	top: 48%;
	text-align: center;
	//This absolute centers horz
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
		z-index: 10006;
}
.middleMenu p a:hover {
		opacity: var(--opacity-link-hover);
}

.bottomTitle {
	text-align: center;
	position: absolute;
	top: 68%;
    font-size: 50px;
	//This absolute centers horz
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10006;
}

.bottomTitle img {
	display: none;

}

.middleMenu {
	display: none; //temp
}

.middleMenu .table{
	transform: scale(0.2, 0.2); //overall
   margin: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  display: table;
}

h1 {
	margin-bottom: -30;
}

.middleMenu .menuText {
	// clip-path: inset(10px 20px 30px 40px);
	line-height: 25px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

//social links
.middleMenu .menuText li:nth-child(3) a:nth-child(1):hover
{
	//color: blue;
	font-weight: bold;
}

.middleMenu .menuText li:nth-child(3) a:nth-child(1):hover:after
{
	content: 'INSTAGRAM';
}
.middleMenu .menuText li:nth-child(3) a:nth-child(1):after
{
	content: 'IG';
}


.middleMenu .menuText li:nth-child(3) a:nth-child(2):hover
{
	font-weight: bold;
}
.middleMenu .menuText li:nth-child(3) a:nth-child(3):hover
{
	font-weight: bold;
}

.menuText a:hover {
	opacity: var(--opacity-link-hover);
}

.bottomTitle .table {
	transform: scale(0.22, 0.14);
   margin: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  display: table;
}

.cell{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

ul {
	position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}
.dots{
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;

  .active{
    a{
       // -webkit-transform: scale3d(1.3, 1.3, 1.3);
       //    transform: scale3d(1.3, 1.3, 1.3);

      &:after{
      width: 100%;
      }
    }
  }

  li{
    position: relative;
    display: block;
    float: left;
    margin: 0 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    a{
      top: 0;
      left: 0;
      width: 100%;
    height: 600%;
      outline: none;
      border-radius: 0%;
      text-indent: -999em;
      cursor: default;
      position: absolute;
      overflow: hidden;
      background-color: rgba(255,255,255,0.2);

      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      // -webkit-transform: scale3d(1, 1, 1);
      // transform: scale3d(1, 1, 1);

      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 0;
        background-color: #fff;

        -webkit-transition: width 0.2s ease;
        transition: width 0.2s ease;
      }
    }
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
z-index: 10002;
}

#bgVideo{
	position: fixed;
  right: 0;
  bottom: 0;
  // min-width: 100%; //before it was min-width
  // max-height: 100%;
	width: 100%;
z-index: -10000;
}
.parallax video {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100%;
}

.frame__links {
	display: inline;
}

.frame__links a {
	text-transform: lowercase;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child)  {
	margin-right: 1rem;
}

.frame__demo--current {
	color: var(--color-text);
}

.bottomright {
	position: absolute;
bottom: 30px;
right: 40px;
overflow: hidden;
z-index: 300;
}

// @media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		display: none;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 3rem;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title demos'
							'... ...'
							'github links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__tagline {
		position: relative;
		margin: 0 0 0 4rem;
		padding: 0 0 0 1rem;
	}
	.frame__tagline::before {
		content: '';
		position: absolute;
		right: 100%;
		top: 50%;
		height: 1px;
		width: 3rem;
		background: var(--color-text);
	}
	.frame__demos {
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}

	//Cursor ------


	.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: var(--color-text);

}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 15000;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__inner {
  display: flex;
  justify-content: center;
  width: 100%;
}

html, a {
 cursor: none;
}
//}
